# Dependency directories
node_modules/
**/node_modules/

# Production build directories
dist/
**/dist/

# Local env files
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
